
#add there your LIVEKIT API KEY, API SECRET and URL from https://cloud.livekit.io/ to use the livekit features
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

#add there GOOGLE API KEY FORM GET https://aistudio.google.com/apps and enable the API you want to use
GOOGLE_API_KEY=

#add there your GROQ API KEY from https://www.sanity.io/groq to use the GROQ features
GROQ_API_KEY=

#add there your NEWS API KEY from https://newsapi.org/ to use the news features
NEWS_API_KEY=

#add there your OPENWEATHER API KEY from https://openweathermap.org/api to use the weather features
OPENWEATHER_API_KEY=

#add there MEM0 API KEY from https://www.mem.ai/ to use the mem0 features
MEM0_API_KEY=

#add there your TAVILY API KEY from https://www.tavily.com/ to use the tavily features
TAVILY_API_KEY=

